# Float Assignment

Q.1. Declare a float value and store it in a variable.
Check the type and print the id of the same.

In [46]:
var = 25.6
print(type(var))
print(id(var))

<class 'float'>
2721752324080

Q.2. Arithmetic Operations on float
Take two different float values.
Store them in two different variables.
Do below operations on them:-
Find sum of both numbers
Find difference between them
Find the product of both numbers.
Find value after dividing first num with second number
Find the remainder after dividing first number with second number
Find the quotient after dividing first number with second number
Find the result of the first num to the power of the second number.

In [47]:
val1 = 8.76
val2 = 2.95
val3 = val1 +val2
val4 = val1 - val2
val5 = val1 * val2
val6 = val1/val2
val7 = val1%val2
val8 = val1 // val2
val9 = val1 ** val2
print(f'1.){val1}+{val2}={val3},\n2.){val1}-{val2}= {val4},\n3.){val1}*{val2}= {val5},\n4.){val1}/{val2}={val6},\n5.){val1}%{val2}= {val7},\n6.){val1}//{val2}= {val8},\n7.){val1}**{val2}={val9}')

1.)8.76+2.95=11.71,
2.)8.76-2.95= 5.81,
3.)8.76*2.95= 25.842000000000002,
4.)8.76/2.95=2.9694915254237286,
5.)8.76%2.95= 2.8599999999999994,
6.)8.76//2.95= 2.0,
7.)8.76**2.95=603.0969236795083

Q.3. Comparison Operators on float
Take two different float values.
Store them in two different variables.
Do below operations on them:-
Compare these two numbers with below operator:-
Greater than, '>'
Smaller than, '<'
Greater than or equal to, '>='
Less than or equal to, '<='
Observe their output(return type should be boolean)

In [48]:
val = 56.7
val2 = 65.8
print(val1>val2)
print(val1<val2)
print(val1>=val2)
print(val1<=val2)

False
True
False
True

Q.4. Equality Operator
Take two different float values.
Store them in two different variables.
Equate them using equality operators (==, !=)
Observe the output(return type should be boolean)

In [49]:
val1 = 67.8
val2 = 76.9
print(val1==val2)
print(val1 !=val2)

False
True

Q.5. Logical operators
Observe the output of below code
Cross check the output manually
print(10.20 and 20.30)
print(20.30 and 0.0)
print(0.0 and 0.0)
print(10.20 or 20.30)
print(0.0 or 20.30)
print(20.30 or 0.0)
print(0.0 or 0.0)
print(not 10.20)
print(not 0.0)

In [50]:
print(10.20 and 20.30)
print(20.30   and 0.0)
print(0.0 and 0.0)
print(10.20 or 20.30)
print(0.0 or 20.30)
print(20.30 or 0.0)
print(0.0 or 0.0)
print(not 10.20)
print(not 0.0)

20.3
0.0
0.0
10.2
20.3
20.3
0.0
False
True

Q.6. What is the output of expression inside print statement. Cross check
before running the program.
a = 10.20
b = 10.20
print(a is b)
print(a is not b)

In [51]:
a = 10.20
b = 10.20
print(a is b)
print(a is not b)

False
True

Q.7. Why the Id of float values are different when the same value is
assigned to two different variables?

In [52]:
a= 10.20
b=10.20
print(id(a))
print(id(b))

2721751965424
2721752323504

Object Reusability concept is not applicable on float values as it is not possible to decide the frequently used range of values.

Q.8. Membership operation
in, not in are two membership operators and it returns boolean value
print('2.7' in 'Python2.7.8')
print(10.20 in [10,10.20,10+20j,'Python'])
print(10.20 in (10,10.20,10+20j,'Python'))
print(20.30 in {1,20.30,30+40j})
print(2.3 in {1:100, 2.3:200, 30+40j:300})
print(10 in range(20))

In [53]:
print('2.7' in 'Python2.7.8')
print(10.20 in [10,10.20,10+20j,'Python'])
print(10.20 in (10,10.20,10+20j,'Python'))
print(20.30 in {1,20.30,30+40j})
print(2.3 in {1:100, 2.3:200, 30+40j:300})
print(10 in range(20))

True
True
True
True
True
True

Q.9. Bitwise Operation not applicable on float values.

In [54]:
a= 10.5
b = 20.6
print(a&b)
#unsupported operand type for & : float values.

TypeError: unsupported operand type(s) for &: 'float' and 'float'